/*Mostly all taken from w3Schools, reference link found in README.MD */
* {
  box-sizing: border-box;
}

body{
  background-color: #537A5A;
}

input[type = text]{
  width: 200px;
  margin: 5px 0;
  border: 1px solid black;
  display: inline-block;
}

input[type = text]:focus{
  border: 2px solid black;
}

input[type = submit]{
  width: 175px;
  height: 75px;
  border: 1px solid #dd1f1f;
  background-color: #e68080;
  display: inline-block;
}

input[type = submit]:focus{
  background-color: red;
}

select-menu{
  width: 200px; 
}

/* Style the header */
header {
  background-image: url("../images/banner.png");
  background-size: 100% 175%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px;
  text-align: center;
  /* width: 100%; */
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #0A122A;
  border-bottom: 5px solid #474A48;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.container{
  height: 0 auto;
  width: auto;
  padding: 10px;
  margin: auto;
}

#maindiv{
  width:100%;
  margin-left: 10px;
  margin-right:10px;
  margin:0 auto;
  height: auto;
 text-align: left;
}




#footer{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  min-width:20rem;;
  height:25px;
  border-top: 2px solid 474A48;
  background-color:909590;
  text-align:right;
  opacity: .7;
}

.error{
  color: red;
  font-size:50px;
}

.introText{
  width: 100%;
  height: 0 auto;
  padding: 25px;
  margin-top:25px;
  margin-bottom: 25px;
  background-color: #9AE19D;
  border-bottom: 5px solid #474A48;
  border-right: 5px solid #474A48;
  text-align: center;
  font-size: 25px;
  display: inline-block;
}

h1, h2, h3 {
  color: black;
  font-size: 2em;
  font-family: "Arial";
}
p {
  font-family: "Arial";
}

table {
  border-collapse: collapse;
  display: inline-block;
  align-content: left;
}
table, td, th, tr {
  border: 1px solid black;
  align-self: left;
}